.product{
    display: flex;
    border-bottom: 1px solid lightgray;
    margin-bottom: 5px;
    margin-right: 5px;
    padding-bottom: 5px;
}
.product-name{
    font-weight: 400;
    color: blue;
    font-size: 15px;
}
.btn-cart{
    background-color: goldenrod;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid black;
}